.confirmation-modal {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: var(--color-white);
    border-radius: 1rem 1rem 0 0;
    animation: slideIn 0.3s forwards;
    padding: 1rem;
    padding-bottom: calc(1rem + env(safe-area-inset-bottom, 0));
    display: flex;
    flex-direction: column;
    color: var(--color-dark);
    gap: 1rem;

    &__icon-wrapper {
        background: rgba(#ED2B21, 0.3);
        color: var(--color-red);
        padding: 1rem;
        border-radius: 0.5rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__header {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
    }

    &__title {
        font-weight: bold;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__buttons {
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;

        &--confirm {
            background: var(--color-red);
        }

        &--cancel {
            background: transparent;
            outline: 2px solid var(--color-primary-dark);
            color: var(--color-primary-dark);
        }
    }

}
