:host {
    --fill-width: 0%;
}

.ritual {
    border-bottom: 0.5px solid var(--color-dark);
    padding: 2rem 0;
    margin: 0 1rem;

    &__info {
        color: var(--color-dark);
        display: flex;
        justify-content: flex-end;
        .ritual__name {
            margin-right: auto;
        }
        i {
            margin-left: 0.5rem;
        }
    }
}
