<div class="ritual" (click)="view()">
    <div class="ritual__icon">
        <i class="icon-alarm ritual__icon--image"></i>
        <span class="ritual__icon--streak">
            {{ ritual.streak }}
            <i class="icon-fire"></i>
        </span>
    </div>
    <div class="ritual__info">
        <p class="ritual__name">{{ ritual.name }}</p>
        <p class="ritual__subtitle c--light">
            <span>Daily · Morning</span>
            <i class="icon-alarm"></i>
        </p>
    </div>
    <div class="ritual__check">
        <i class="icon-checkmark"></i>
    </div>
</div>
