<div #ritualEle class="ritual" (click)="view()" (swiperight)="onSwipeRight()" (swipeleft)="onSwipeLeft()">
    <div cdkDragHandle class="ritual__handle--area" (click)="$event.preventDefault(); $event.stopImmediatePropagation();"></div>
    <div class="ritual__handle">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="ritual__icon">
        <img src="user-icons/{{ ritual.icon || 'icon-colour' }}.png" class="ritual__icon--image" alt="{{ ritual.name }}"/>
        <span class="ritual__icon--streak">
            {{ ritual.streak }}
            <i #fire class="icon-fire"></i>
        </span>
    </div>
    <div class="ritual__info">
        <p class="ritual__name">{{ ritual.name }}</p>
        <p class="ritual__subtitle c--light">
            <span>{{ type() }}</span>
            @if (ritual.remindTime) {
                <i class="icon-alarm"></i>
            }
        </p>
    </div>
    <div class="ritual__check">
        @if (ritual.actioned) {
            <div #check class="ritual__check--fill">
                <i class="icon-checkmark"></i>
            </div>
        } @else {
            <div class="ritual__check--empty" (click)="action($event)">
                <i class="icon-checkmark"></i>
            </div>
        }
    </div>
</div>
