.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    color: var(--color-white);
    font-size: 5rem;
    pointer-events: none;

    i {
        animation: spin 3s infinite;
        animation-timing-function: linear;
    }
}
