:host {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    // background: rgba(0, 0, 0, 0.6);
    // animation: fadeIn 1s forwards;
}

.ritual-add-drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
    background: var(--color-white);
    i {
        margin-left: auto;
        margin-bottom: 1rem;
        color: var(--color-dark);
    }
    form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        button {
            width: 100%;
            margin-top: auto;
            margin-bottom: env(safe-area-inset-bottom, 0);
        }
        input, select {
            border: 1px solid var(--color-dark);
        }
    }
    animation: slideIn 0.3s forwards;

    &__header {
        display: flex;
        color: var(--color-dark);
    }
}

.enter-animation {
    animation: slideIn 0.3s forwards;
}
