@defer(on timer(300ms)) {
    <div class="ritual-add-drawer">
        <div class="ritual-add-drawer__header">
            <span>My new Ritual is...</span>
            <i class="icon-cross" (click)="closeDrawer()"></i>
        </div>
        <form [formGroup]="addForm">
            <app-icon-selector formControlName="icon"></app-icon-selector>
            <input type="text" placeholder='Name your Ritual'  formControlName="name" autocomplete="off"/>
            <button type="submit" (click)="create()" [disabled]="!addForm.valid">Begin</button>
        </form>
    </div>
}
