select {
    display: none;
}

.icon-selector {
    display: flex;
    margin: 1rem 0;

    &__preview {
        display: flex;
        align-items: center;
        border: 1px solid var(--color-dark);
        border-radius: 0.5rem;

        .icon-image {
            width: 4rem;
            padding: 0.5rem;
        }

        .icon-play3 {
            transform: rotate(90deg);
            color: var(--color-dark);
        }
    }
}
