.type-selector {
    color: var(--color-dark);

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 0.5rem;
    }

    &__selection {
        border: 1px solid var(--color-dark);
        padding: 1rem;
        text-align: center;

        &:first-child {
            border-radius: 1rem 0 0 1rem;
        }

        &:last-child {
            border-radius: 0 1rem 1rem 0;
        }

        &.selected {
            background: var(--color-primary-dark);
            color: white;
        }
    }

    &__helptext {
        font-size: 0.8rem;
    }
}
