:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 2rem;
    width: 100%;
}

#loginForm {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
}

img {
    max-width: 100px;
}

p {
    text-align: center;
}

.social-buttons {
    margin-top: auto;
    .gsi-material-button-content-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
        background: white;
        padding: 0.5rem 1rem;
        color: black;
        border-radius: 50px;
        .gsi-material-button-icon {
            width: 30px;
        }
    }
}
