:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 2rem;
    width: 100%;
}

#loginForm {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
}

img {
    max-width: 100px;
}

p {
    text-align: center;
}

.social-buttons {
    display: flex;
    gap: 1rem;
    margin-top: auto;
    button {
        background: white;
        box-shadow: none;
        img {
            max-width: 2rem;
        }
    }
}
