:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 2rem;
    width: 100%;
}

#loginForm {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
}

img {
    max-width: 100px;
}

p {
    text-align: center;
}

asl-google-signin-button {
    margin-top: auto;
}