.action-sheet {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: var(--color-white);
    animation: slideIn 0.3s forwards;
    padding-bottom: env(safe-area-inset-bottom, 0);

    &__item {
        color: var(--color-dark);
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:first-child {
            border-bottom: 1px solid grey;
        }

        &:last-child {
            color: var(--color-red);
        }
    }
}
