.icon-play3 {
    transform: scaleX(-1);
}
#appTitle {
    transition: font-size 1s;
    margin: auto;
    &.small {
        font-size: 2rem;
    }
}

.menu-icon {
    display: flex;
    flex-direction: column;
    gap: 3px;
    &>div {
        width: 30px;
        height: 5px;
        border-radius: 20px;
        background: white;
    }
}