:host {
    width: 100%;
}

.title-container {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.mirrored {
    transform: scaleX(-1)
}

.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    margin-top: 2rem;

    .calendar-day {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        background: var(--color-primary-dark);
        border-radius: 50%;
        &.active {
            background: goldenrod;
        }
    }
}