@use '@angular/cdk' as cdk;
@include cdk.overlay();

.icon-selector-drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--color-white);
    animation: slideIn 0.3s forwards;
    padding: 1rem;

    &__header {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding-top: env(safe-area-inset-top, 0);
    }

    &__icon-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin: 1rem 0;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__icon {
        aspect-ratio: 1 / 1;
        background: rgba($color: #92E8BD, $alpha: 0.3);
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: scaleIn 0.5s forwards;
        &.selected {
            outline: 2px solid var(--color-dark);
        }
    }

    .icon-cross {
        color: var(--color-dark);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
