:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 1rem;
    height: 100%;
    overflow-y: auto;
    padding: 0.5rem;
    gap: 0.5rem;
}

#addButton {
    margin-top: auto;
}