:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 1rem;
    height: 100%;
    overflow-y: auto;
    padding: 0.5rem;
}

.rituals-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    padding-bottom: 5rem;
}

.drag-drop-placeholder {
    background: var(--color-primary-dark);
    border-radius: 0.5rem;
    min-height: 80px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#addButton {
    position: fixed;
    right: 2rem;
    bottom: calc(env(safe-area-inset-bottom, 0) + 4rem);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 4rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background: var(--color-gold);
}