<div class="rituals-list" cdkDropList (cdkDropListDropped)="drop($event)">
    @for (ritual of rituals; track ritual.id; let last=$last) {
        <div cdkDrag>
            <div class="drag-drop-placeholder" *cdkDragPlaceholder></div>
            <app-ritual [ritual]="ritual" [style.margin-bottom]="last ? '2rem': ''"></app-ritual>
        </div>
    }
</div>

<button type="button" id="addButton" (click)="toggleDrawer()"><i class="icon-plus"></i></button>

@if (drawerIsOpen) {
    <app-ritual-add
    (toggleDrawer)="toggleDrawer()"
    (listChanged)="listChanged()"
    ></app-ritual-add>
}