<ngx-pull-to-refresh
    #ritualsList
    cdkDropList
    (cdkDropListDropped)="drop($event)"
	spinnerColor="#ffffff"
    [spinnerSize]="20"
	[distanceForRefresh]="100"
    [isEnable]="true"
	(refresh)="listChanged($event)"
	customClass="rituals-list">
    @for (ritual of rituals; track ritual.id; let last=$last) {
        <div cdkDrag>
            <div class="drag-drop-placeholder" *cdkDragPlaceholder></div>
            <app-ritual [ritual]="ritual"></app-ritual>
        </div>
    }
    <div class="ritual-add-tile" (click)="toggleDrawer()">
        <i class="icon-plus"></i>
        <span>Add new Ritual</span>
    </div>
</ngx-pull-to-refresh>


@if (drawerIsOpen) {
    <app-ritual-add
    (toggleDrawer)="toggleDrawer()"
    (listChanged)="listChanged()"
    ></app-ritual-add>
}
