:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    &.hidden {
        display: none;
    }
}

.mb-10 {
    margin-bottom: 10rem;
}