:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

button {
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    &.hidden {
        display: none;
    }
}

.m-auto {
    margin: auto;
}