:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.statistic-tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.m-auto {
    margin: auto;
}

button {
    background: white;
    color: var(--color-primary-dark);
    border: 2px solid var(--color-primary-dark);
}
