@use 'app/styles/animations';

$colors: (
    'primary': #92E8BD,       // Bubble Algae
    'primary-dark': #4a947b,
    'secondary': #4646E3,     // Warm Blue
    'light': #B4C2BB,
    'dark': #313532,
    'white': #fff,
    'gold': #BF953F,
    'red': #ED2B21
);

@each $key, $color in $colors {
    .bg--#{$key} {
        background: $color;
    }
    .c--#{$key} {
        color: $color;
    }
}

:root {
    @each $key, $color in $colors {
        --color-#{$key}: #{$color};
    }
}

* {
    box-sizing: border-box;
    user-select: none;
}

html, body {height: 100vh; overflow: hidden;}
body {margin: 0;}
body {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--color-white)
}
body {
    background: linear-gradient(#9acab4, #539d86);
    .bg-overlay {
        position: fixed;
        z-index: -1;
        max-height: 100%;
        opacity: 0.1;
        animation: breathe 60s infinite;
        animation-timing-function: ease-in-out;
    }
    #main {
        display: flex;
        flex-direction: column;
        height: 100vh;
        #header {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 1rem;
            padding-top: calc(env(safe-area-inset-top, 0) + 2rem);
        }
        #body {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            overflow: hidden;
        }
        #footer {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            padding-bottom: calc(env(safe-area-inset-bottom, 0) + 0.5rem);
        }
    }
}

h1 {
    font-size: 4rem;
    margin: 0 0 1rem 0;
}
h2 {
    font-size: 3rem;
    margin: 0 0 1rem 0;
}
h3 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
}
p, span, li, td, a {
    font-size: 1rem;
    margin: 0;
}

input, select, textarea, button {
    font-family: 'Lexend Deca', sans-serif;
}

input, select, textarea {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
    width: 100%;
}

button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    background: var(--color-primary-dark);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    color: var(--color-white);
}

::placeholder, ::-webkit-input-placeholder, ::-moz-placeholder {
    color: var(--color-white);
}
