.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: slideInRight 0.3s forwards;
    background: var(--color-white);
    color: var(--color-dark);
    padding: 1rem;
    padding-top: calc(env(safe-area-inset-top, 0) + 1rem);
    padding-bottom: calc(env(safe-area-inset-bottom, 0) + 1rem);
    gap: 1rem;

    img {
        max-width: 4rem;
        background: #91c2ae;
        border-radius: 0.5rem;
    }

    &__information {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;

        &--text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--app-name {
            font-weight: bold;
            font-size: 1.2rem;
        }

        &--dev-name {
            text-decoration: none;
            color: var(--color-dark);
        }

        &--version {
            font-style: italic;
            color: rgba(0, 0, 0, 0.5);
        }
    }

    &__close {
        align-self: flex-end;
    }

    &__item {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        &.delete {
            color: red;
        }
    }
}
