<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264927648797-1d87q07j8sbkdsameuh1fn0uj7s6jbg7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264927648797-1d87q07j8sbkdsameuh1fn0uj7s6jbg7</string>
	<key>API_KEY</key>
	<string>AIzaSyBOTN0BPRlYpQ3Epb4z7GYGfmb-MWw4xbM</string>
	<key>GCM_SENDER_ID</key>
	<string>264927648797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.owlsnake-studios.ritual</string>
	<key>PROJECT_ID</key>
	<string>ritual-95fff</string>
	<key>STORAGE_BUCKET</key>
	<string>ritual-95fff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264927648797:ios:6dc8a8311f658c72b23af4</string>
</dict>
</plist>