name: Apple Deployment

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: macos-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
    - uses: actions/checkout@v4
    - name: Create config.ts
      run: |
        cat << EOF > src/config.ts
        export const firebaseConfig = { 
          apiKey: "${{ secrets.FIREBASE_API_KEY }}", 
          authDomain: "${{ secrets.FIREBASE_AUTH_DOMAIN }}", 
          projectId: "${{ secrets.FIREBASE_PROJECT_ID }}", 
          storageBucket: "${{ secrets.FIREBASE_STORAGE_BUCKET }}", 
          messagingSenderId: "${{ secrets.FIREBASE_MESSAGING_SENDER_ID }}", 
          appId: "${{ secrets.FIREBASE_APP_ID }}", 
          measurementId: "${{ secrets.FIREBASE_MEASUREMENT_ID }}" 
        };
        EOF
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install requirements
      run: npm ci
    - name: Build application
      run: npm run build --if-present
    - name: Capacitor sync
      run: npx cap update ios && npx cap copy ios && npx cap sync ios
    - name: Install the Apple certificate and provisioning profile
      env:
        BUILD_CERTIFICATE_BASE64: ${{ secrets.DISTRIBUTION_CERTIFICATE_P12 }}
        P12_PASSWORD: ${{ secrets.DISTRIBUTION_CERTIFICATE_PASSWORD }}
        BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.APPSTORE_PROVISIONING_PROFILE }}
        KEYCHAIN_PASSWORD: 'temp'
      run: |
        # create variables
        CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
        PP_PATH=$RUNNER_TEMP/Ritual.mobileprovision
        KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

        # import certificate and provisioning profile from secrets
        echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH
        echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode -o $PP_PATH

        # create temporary keychain
        security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
        security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
        security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

        # import certificate to keychain
        security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
        security set-key-partition-list -S apple-tool:,apple: -k "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
        security list-keychain -d user -s $KEYCHAIN_PATH

        # apply provisioning profile
        mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
        cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles
    - name: Bump build version
      uses: thermogl/xcode-version-setter@v0.3
      with:
        style: 'hextime'
        working-directory: 'ios/App/'
    - name: Export App.ipa file
      working-directory: 'ios/App/'
      run: |
        xcodebuild -list
        xcodebuild clean -workspace 'App.xcworkspace' -scheme 'App' -configuration 'Release' -quiet
        xcodebuild archive -workspace 'App.xcworkspace' -scheme 'App' -configuration 'Release' -archivePath './build/App.xcarchive' -destination 'generic/platform=iOS' -quiet
        xcodebuild -exportArchive -archivePath './build/App.xcarchive' -exportOptionsPlist 'ExportOptions.plist' -exportPath './build/ipa' -quiet
    - run: cd ios/App && ls
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: 'App.ipa'
        path: 'ios/App/build/ipa/'
