# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Apple Deployment

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: macos-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
    - uses: actions/checkout@v4
    - name: Create config.ts
      run: |
        cat << EOF > src/config.ts
        export const firebaseConfig = { 
          apiKey: "${{ secrets.FIREBASE_API_KEY }}", 
          authDomain: "${{ secrets.FIREBASE_AUTH_DOMAIN }}", 
          projectId: "${{ secrets.FIREBASE_PROJECT_ID }}", 
          storageBucket: "${{ secrets.FIREBASE_STORAGE_BUCKET }}", 
          messagingSenderId: "${{ secrets.FIREBASE_MESSAGING_SENDER_ID }}", 
          appId: "${{ secrets.FIREBASE_APP_ID }}", 
          measurementId: "${{ secrets.FIREBASE_MEASUREMENT_ID }}" 
        };
        EOF
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install requirements
      run: npm ci
    - name: Build application
      run: npm run build --if-present
    - name: Capacitor sync
      run: npx cap update ios && npx cap copy ios && npx cap sync ios
    # - name: Deploy
    #   uses: vfrascello/xcode-deploy@v1.5
    #   with:
    #     working-directory: 'ios/App'
    #     configuration: 'Release'
    #     scheme: 'App'
    #     path-to-export-options: 'ios/App/ExportOptions.plist'
    #     update-build: true
    #     install-pods: false
    #     resolve-package-dependencies: true
    #     distribution-certificate-p12: ${{ secrets.DISTRIBUTION_CERTIFICATE_P12 }}
    #     distribution-certificate-password: ${{ secrets.DISTRIBUTION_CERTIFICATE_PASSWORD }}
    #     app-store-provisioning-profile: ${{ secrets.APPSTORE_PROVISIONING_PROFILE }}
    #     auth-key-id: ${{ secrets.AUTH_KEY_ID }}
    #     auth-key-issuer-id: ${{ secrets.AUTH_KEY_ISSUER_ID }}
    #     auth-key-p8: ${{ secrets.AUTH_KEY_P8 }}
    - name: Deploy
      working-directory: 'ios/App/'
      run: |
        xcodebuild clean -project 'App.xcodeproj' -scheme 'App' -configuration 'Release' -verbose
        xcodebuild archive -project 'App.xcodeproj' -scheme 'App' -configuration 'Release' -archivePath './build/App.xcarchive' -destination 'generic/platform=iOS' -verbose
        xcodebuild -exportArchive -archivePath './build/App.xcarchive' -exportOptionsPlist 'ExportOptions.plist' \-exportPath './build/ipa' -verbose
  
