# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: macos-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
    - uses: actions/checkout@v4
    - name: Create config.ts
      run: |
        cat << EOF > src/config.ts
        export const firebaseConfig = { 
          apiKey: ${{ secrets.FIREBASE_API_KEY }}, 
          authDomain: ${{ secrets.FIREBASE_AUTH_DOMAIN }}, 
          projectId: ${{ secrets.FIREBASE_PROJECT_ID }}, 
          storageBucket: ${{ secrets.FIREBASE_STORAGE_BUCKET }}, 
          messagingSenderId: ${{ secrets.FIREBASE_MESSAGING_SENDER_ID }}, 
          appId: ${{ secrets.FIREBASE_APP_ID }}, 
          measurementId: ${{ secrets.FIREBASE_MEASUREMENT_ID }} 
        };
        EOF
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
